@inject IViewLocalizer _localizer;

<!-- Main Carousel -->
<div class="carousel-fade-transition owl-carousel carousel-main carousel-nav-white background-dark">
    <div class="item">
        <div class="s-12 center">
            <img src="img/electricity/remodeling.jpeg" alt="">
            <div class="carousel-content background-dark background-transparent">
                <div class="content-center-vertical line primary-color-dark">
                    <div class="s-12 m-12 l-12 background-primary background-transparent">
                        <p class="h1 animated-carousel-element text-white text-s-size-30 text-m-size-40 text-size-40 margin-bottom-30 margin-m-bottom-20 text-line-height-1">@_localizer["Integrity"]</p>
                        <p class="animated-carousel-element slow text-white text-size-16 text-m-size-14 margin-bottom-14">
                            We see our clients as the guests of a party in which we are the hosts. Our job is to make the customer experience a little better every day.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="item">
        <div class="s-12 center">
            <img src="img/electricity/remodeling.jpeg" alt="">
            <div class="carousel-content background-dark background-transparent">
                <div class="content-center-vertical line">
                    <div class="s-12 m-12 l-8">
                        <p class="h1 animated-carousel-element text-white text-s-size-30 text-m-size-40 text-size-60 margin-bottom-30 margin-m-bottom-20 text-line-height-1">Electricity Services</p>
                        <p class="animated-carousel-element slow text-white text-size-16 text-m-size-14 margin-bottom-30">We provide installation and maintenance services for electrical systems for your home.</p>
                        <div class="s-12 m-6 l-4 margin-bottom">
                            <a class="animated-carousel-element button background-primary s-12 center text-white" href="/">Quote now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="s-12 center">
            <img src="img/floor/hardwood.jpg" alt="">
            <div class="carousel-content background-dark background-transparent">
                <div class="content-center-vertical line">
                    <div class="s-12 m-12 l-8">
                        <p class="h1 animated-carousel-element text-white text-s-size-30 text-m-size-40 text-size-60 margin-bottom-30 margin-m-bottom-20 text-line-height-1">Floor services</p>
                        <p class="animated-carousel-element slow text-white text-size-16 text-m-size-14 margin-bottom-30">We provide you with the flooring installation service. Make your house look perfect.</p>-->
    @*<div class="s-12 m-6 l-4 margin-bottom">
            <a class="animated-carousel-element button background-primary s-12 center text-white" href="/">Get Started Now</a>
        </div>*@
    <!--</div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="s-12 center">
            <img src="img/carpinter/carpinter.jpg" alt="">
            <div class="carousel-content background-dark background-transparent">
                <div class="content-center-vertical line">
                    <div class="s-12 m-12 l-8">
                        <p class="h1 animated-carousel-element text-white text-s-size-30 text-m-size-40 text-size-60 margin-bottom-30 margin-m-bottom-20 text-line-height-1">Carpinter services</p>
                        <p class="animated-carousel-element slow text-white text-size-16 text-m-size-14 margin-bottom-30">Renew that closet, expand your room, remodel your living room.</p>-->
    @*<div class="s-12 m-6 l-4 margin-bottom">
            <a class="animated-carousel-element button background-primary s-12 center text-white" href="/">Get Started Now</a>
        </div>*@
    <!--</div>
                </div>
            </div>
        </div>
    </div>-->
</div>


<div class="section background-white">
    <div class="line">
        <h2 class="text-size-40 margin-bottom-30">What we believe</h2>
        <hr class="break-small background-primary margin-bottom-30">
        <p>
            In Confortable Construction, we know that a remodeling project is a big effort for create a better ambient in houses of most of our clients. We have been a long time working in the satifation of our customers. We assure your project is adapted to your needs analyzing them together to get the best result.
        </p>
        <blockquote class="margin-top-bottom-20">
            <h3 class="text-size-20 text-line-height-1 margin-bottom-15"></h3>
            Our priority is treating our clients the way we would like to be treated, the central point of our mission is providing an excellent customer experience.
        </blockquote>

        <p>
            Support the community is really important for us therefore we are committed to put our grain of sand and contribute for make a better world making donation for environment and people with difficult situations.
        </p>

        <a class="text-more-info text-primary-hover" asp-controller="Home" asp-action="CommunityServices">Read more</a>

        @*<div class="line margin-top-30">
                <div class="margin">
                    <div class="s-12 m-6 l-6">
                        <img src="img/img-01.jpg" alt="">
                        <p class="margin-top-30">
                            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam;
                            est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc
                            putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc
                            nobis videntur parum clari, fiant sollemnes in futurum.
                        </p>
                    </div>
                    <div class="s-12 m-6 l-6">
                        <img src="img/img-02.jpg" alt="">
                        <p class="margin-top-30">
                            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam;
                            est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc
                            putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc
                            nobis videntur parum clari, fiant sollemnes in futurum.
                        </p>
                    </div>
                </div>
            </div>*@
    </div>
</div>


<!-- Section 5 -->
<div class="background-primary carousel-fade-transition owl-carousel carousel-hide-pagination">
    <div class="item">
        <section class="full-width background-dark-hightlight">
            <div class="s-12 m-12 l-6">
                <img src="img/relationship-building.png" alt="">
            </div>
            <div class="s-12 m-12 l-6">
                <div class="padding-2x">
                    <div class="line">
                        <h3 class="text-size-40 margin-bottom-20">Relationship building</h3>
                        <div class="">
                            <div class="line">
                                <p class="h2 margin-bottom-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sollicitudin dignissim tempor. Mauris id iaculis nunc. </p>
                                <p class="text-thin text-white"><strong></strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="item">
        <section class="full-width background-dark-hightlight">

            <div class="s-12 m-12 l-6">
                <div class="padding-2x">
                    <div class="line">
                        <h3 class="text-size-40 margin-bottom-20">It's all about relationships</h3>
                        <div class="">
                            <div class="line">
                                <p class="h2 margin-bottom-10">Phasellus non tempor nunc, ac sagittis nulla. Phasellus sodales mauris sed justo scelerisque aliquam.</p>
                                <p class="text-thin text-white"><strong></strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s-12 m-12 l-6">
                <img src="img/its-all-about-relationships.png" alt="">
            </div>
        </section>
    </div>

</div>

<section class="section background-white text-center">
    <h2 class="text-size-40 margin-bottom-30">Some of our services</h2>
    <div class="line">
        <div class="section background-white">
            <div class="line">
                <div class="margin">
                    <div class="s-12 m-6 l-3">
                        <a class="image-with-hover-overlay image-hover-zoom margin-bottom" data-rel="lightcase:portfolio" href="~/img/portfolio/img-portfolio-01.png">
                            <div class="image-hover-overlay background-primary">
                                <div class="image-hover-overlay-content text-center padding-2x">
                                    <i class="icon-magnifying icon2x text-white"></i>
                                </div>
                            </div>
                            <img src="~/img/portfolio/img-thumb-01.png" alt="" title="Portfolio Image" />
                        </a>
                    </div>
                    <div class="s-12 m-6 l-3">
                        <a class="image-with-hover-overlay image-hover-zoom margin-bottom" data-rel="lightcase:portfolio" href="~/img/portfolio/img-portfolio-02.png">
                            <div class="image-hover-overlay background-primary">
                                <div class="image-hover-overlay-content text-center padding-2x">
                                    <i class="icon-magnifying icon2x text-white"></i>
                                </div>
                            </div>
                            <img src="~/img/portfolio/img-thumb-02.png" alt="" title="Portfolio Image" />
                        </a>
                    </div>
                    <div class="s-12 m-6 l-3">
                        <a class="image-with-hover-overlay image-hover-zoom margin-bottom" data-rel="lightcase:portfolio" href="~/img/portfolio/img-portfolio-03.png">
                            <div class="image-hover-overlay background-primary">
                                <div class="image-hover-overlay-content text-center padding-2x">
                                    <i class="icon-magnifying icon2x text-white"></i>
                                </div>
                            </div>
                            <img src="~/img/portfolio/img-thumb-03.png" alt="" title="Portfolio Image" />
                        </a>
                    </div>
                    <div class="s-12 m-6 l-3">
                        <a class="image-with-hover-overlay image-hover-zoom margin-bottom" data-rel="lightcase:portfolio" href="~/img/portfolio/img-portfolio-04.png">
                            <div class="image-hover-overlay background-primary">
                                <div class="image-hover-overlay-content text-center padding-2x">
                                    <i class="icon-magnifying icon2x text-white"></i>
                                </div>
                            </div>
                            <img src="~/img/portfolio/img-thumb-04.png" alt="" title="Portfolio Image" />
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>